.works
	width: 63.265%

.page-nav
	border-top: 1px solid $border-color-second
	padding:
		top: 30px
		right: 28px
		bottom: 40px
		left: 28px

.page-nav__link
	text-transform: uppercase

.page-nav__link-text
	padding: 0 10px

/* portfolio styles */
.portfolio-content
	.works
		width: 100%
	
	.addon-article
		padding-bottom: 0
		margin-bottom: 45px
		.addon-article__post-img
			display: block
			width: 50%
			padding: 
				right: 15px
				bottom: 15px
		.addon-article__content-wrap
			width: 50%
			height: 100%
			overflow: hidden
		.addon-article__post-view
			display: inline-block

/*single page styles*/
.single-content
	.addon-article__post-title
		margin-top: 55px

/*contact page styles*/
.contact-content__wrap
	position: relative

.contact-content__block-info
	background-color: $primary-bg
	padding: 45px 20px
	max-width: 300px
	position: absolute
	top: 5%
	left: 10%
	z-index: 10
	border-radius: 0 0 100px 100px

.contact-content
	.addon-form__field
		display: block
		margin-bottom: 10px
		padding: 10px
	.addon-form__send
		top: auto
		right: 15px
		bottom: 15px
		padding: 5px 10px
		border-radius: 10px

.contact-content__title_block-info
	font-size: 16px
	text-transform: capitalize

.contact-content__text_info
	font-size: 12px
	text-indent: 0
	padding: 0 15px

/*about us page styles*/
.about-content__photo
	margin:
		right: 15px
		bottom: 15px 
	max-width: 220px
	overflow: hidden

.about-content__social-list
	padding: 15px 0